.Form-style {
  background-color: var(--black);
  padding-top: 120px;
  padding-bottom: 120px;
  background-image: linear-gradient(
      180deg,
      rgba(199, 214, 139, 0.45) 0%,
      rgba(207, 225, 133, 0.396) 100%
    ),
    url(https://s3.amazonaws.com/shecodesio-production/uploads/files/000/086/365/original/form-bcrd.png?1687193361);
  background-repeat: no-repeat;
  background-size: cover;
}
.Form-style form {
  max-width: 600px;
  margin: 0 auto;
  padding: 40px 80px 80px 80px;
  background-color: var(--black);
  border-radius: 2px;
}
.Form-style h3 {
  font-family: var(--accent-font);
  color: var(--accent);
  font-weight: 400;
  font-size: 32px;
  text-align: center;
  margin-bottom: 60px;
}

.name-submit,
.phone-submit {
  width: 100%;
  margin-bottom: 24px;
  font-weight: 200;
  font-size: 20px;
  color: var(--white);
  background: rgba(238, 242, 219, 0.22);
  border: 1px solid #c7d68b;
  border-radius: 12px;
  padding: 18px 24px;
}
.call-button {
  width: 100%;
  margin-top: 36px;
  font-weight: 400;
  font-size: 24px;
  color: var(--black);
  background: var(--accent);
  box-shadow: 2px 2px 3px rgba(66, 63, 60, 0.8);
  border-radius: 12px;
  border: none;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
  transition: all ease-in-out 300ms;
}
.call-button:hover {
  background-color: var(--white);
}
.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(29, 26, 26, 0.29);
  backdrop-filter: blur(5px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup-content {
  max-width: 100%;
  text-align: center;
  padding: 200px 60px;
  font-family: var(--accent-font);
  color: var(--accent);
  font-size: 24px;
  background: var(--black);
  border-radius: 12px;
}
.name-submit.invalid,
.phone-submit.invalid {
  border: 1px solid #B63030;
}
.error-message {
  color: #B63030;
  font-size: 14px;
  margin-top: -20px;
  margin-bottom: 10px;
}

@media only screen and (max-width: 767px) {
  .Form-style {
    background-image: none;
    padding-top: 80px;
    padding-bottom: 100px;
  }
  .Form-style h3 {
    font-size: 28px;
    margin-bottom: 24px;
  }
  .Form-style form {
    padding: 0;
  }
  .name-submit,
  .phone-submit {
    font-size: 20px;
    padding: 16px;
  }
  .call-button {
    margin-top: 8px;
    font-size: 24px;
    padding-top: 18px;
    padding-bottom: 18px;
  }
}
