.about-us-section {
  background-color: var(--black);
  padding-top: 80px;
  padding-bottom: 80px;
  background-image: url(https://s3.amazonaws.com/shecodesio-production/uploads/files/000/086/073/original/about_us_bgrd.png?1686949715);
  background-repeat: no-repeat;
  background-size: cover;
}
.AboutUs-style h2 {
  font-family: var(--accent-font);
  color: var(--accent);
  text-shadow: 2px 2px 3px rgba(66, 63, 60, 0.8);
  font-weight: 400;
  font-size: 32px;
  line-height: 120%;
  text-align: center;
  margin-bottom: 80px;
}
.about-paragraph {
  font-weight: 300;
  font-size: 20px;
  line-height: 140%;
  color: var(--white);
}
.about-us-photo {
  max-width: 100%;
  filter: drop-shadow(2px 2px 3px rgba(43, 41, 40, 0.8));
  border-radius: 2px;
}
.row-about-us {
  margin-bottom: 12px;
}
.col-about-us {
  margin-bottom: 12px;
}
.advantages-grid {
  margin-top: 52px;
}
.advantage-box {
  border: 1px solid #c7d68b;
  background-color: rgba(29, 26, 26, 0.29);
  backdrop-filter: blur(5px);
  border-radius: 20px;
  margin-right: 12px;
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 12px;
  transition: ease-in-out 200ms;
}
.advantage-box:hover {
  transform: scale(1.1);
}
.advantage-numbers {
  font-family: var(--accent-font);
  color: var(--accent);
  font-weight: 400;
  font-size: 60px;
}
.advantage-text {
  font-weight: 400;
  font-size: 18px;
  color: var(--accent);
  margin-top: -18px;
}
.small-k {
  font-size: 32px;
}
@media only screen and (max-width: 1024px) {
  .about-us-section {
    background-image: none;
  }
}
@media only screen and (max-width: 540px) {
  .AboutUs-style h2 {
    margin-bottom: 32px;
  }
  .about-us-photo-one {
    display: none;
  }
   .about-us-photo-two {
    margin-top: -28px;
  }
}
@media only screen and (max-width: 280px) {
  .about-paragraph {
  font-size: 16px;
}
.about-us-photo-two {
    margin-bottom: 20px;
  }
}