@media (prefers-reduced-motion: no-preference) {
}
:root {
  --accent-font: "Cinzel", serif;
  --main-font: "Montserrat", sans-serif;
  --white: #eef2db;
  --black: #191a1d;
  --accent: ##c7d68b;
}

body {
  background-color: #191a1d;
  font-family: var(--main-font);
}

.App {
  background-color: #191a1d;
  color: aliceblue;
  margin: 0 auto;
}
.wrapper {
  max-width: 100%;
  margin: 0 auto;
  background-color: #7885a3;
}
section {
  max-width: 1200px;
  margin: 0 auto;
}
.about-us-section {
  background-color: #3e6064;
}
.why-us-section {
  background-color: #396c3b;
}
.services-section {
  background-color: #788428;
}
.form-section {
  background-color: #845b28;
}
.gallery-section {
  background-color: #3e6064;
}
.reviews-section {
  background-color: #396c3b;
}
.address-section {
  background-color: #788428;
}
