:root {
  --accent-font: "Cinzel", serif;
  --main-font: "Montserrat", sans-serif;
  --white: #eef2db;
  --black: #191a1d;
  --accent: #c7d68b;
}

body {
  background-color: #191a1d;
  font-family: var(--main-font);
}

.App {
  background-color: #191a1d;
  color: aliceblue;
  margin: 0 auto;
}
.wrapper {
  max-width: 100%;
  margin: 0 auto;
  background-color: #2e52a8;
}
section {
  max-width: 900px;
  margin: 0 auto;
}
