:root {
  --accent-font: "Cinzel", serif;
  --main-font: "Montserrat", sans-serif;
  --white: #eef2db;
  --black: #191a1d;
  --accent: #c7d68b;
}

.main-screen {
  padding-top: 100px;
  background-image: linear-gradient(
      69.61deg,
      #d9d9d9 -0.92%,
      #000000 -0.91%,
      rgba(0, 0, 0, 0.942708) 15.28%,
      rgba(57, 53, 53, 0) 37.01%
    ),
    url(https://s3.amazonaws.com/shecodesio-production/uploads/files/000/085/922/original/main_photo.png?1686855038);
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 242px;
  display: flex;
  justify-content: space-evenly;
  max-width: 100%;
}
nav {
  background: rgba(29, 26, 26, 0.29);
  backdrop-filter: blur(5px);
}
nav .logo {
  max-width: 100px;
  margin-right: 50px;
  @media (max-width: 300px) {
    display: none;
  }
}

.navbar a {
  margin-right: 8px;
  font-weight: 400;
  font-size: 16px;
  color: var(--white);
}
.navbar {
  padding: 10px 60px;
}
.all-options {
  margin-right: 100px;
}
.home {
  max-width: 1200px;
  text-align: center;
}
.home h1 {
  font-family: var(--accent-font);
  font-weight: 400;
  font-size: 90px;
  margin-left: 0px;
  margin-top: 132px;
  margin-bottom: 32px;
  color: var(--white);
  text-shadow: 2px 2px 3px rgba(66, 63, 60, 0.8);
  @media (max-width: 767px) {
    font-size: 40px;
    text-align: center;
  }
}
.home p {
  max-width: 628px;
  font-weight: 100;
  font-size: 20px;
  line-height: 120%;
  color: var(--white);
  @media (max-width: 767px) {
    max-width: 260px;
    font-size: 24px;
  }
}
.home button {
  margin-top: 60px;
  background-color: var(--accent);
  box-shadow: 2px 2px 3px rgba(66, 63, 60, 0.8);
  border-radius: 12px;
  padding: 16px 32px;
  font-size: 20px;
  border: none;
  transition: all ease-in-out 300ms;
}
.home button:hover {
  background-color: var(--white);
}
