.why-us-section {
  background-color: var(--accent);
  padding-top: 80px;
  padding-bottom: 80px;
  background-image: url(https://s3.amazonaws.com/shecodesio-production/uploads/files/000/087/685/original/why-us-bgrd.png?1688169856);
  background-repeat: no-repeat;
  background-size: cover;
}

.row-why-us {
  margin-bottom: 12px;
}
.WhyUs-style h2 {
  font-family: var(--accent-font);
  color: var(--black);
  text-shadow: 2px 2px 3px rgba(66, 63, 60, 0.8);
  font-weight: 400;
  font-size: 32px;
  line-height: 120%;
  text-align: center;
  margin-bottom: 80px;
}
.whyUs-photo-description {
  margin-top: 24px;
  color: var(--black);
  font-weight: 400;
  font-size: 18px;
  line-height: 120%;
}
.why-us-photo {
  max-width: 100%;
  filter: drop-shadow(2px 2px 3px rgba(130, 124, 120, 0.8));
  border-radius: 2px;
  transition: ease-in-out 200ms;
}
.why-us-photo:hover {
  transform: scale(1.1);
}

.spotify-line {
  margin-top: 100px;
  margin-bottom: 40px;
  color: var(--black);
  font-weight: 400;
  font-size: 20px;
  line-height: 120%;
}
@media only screen and (max-width: 1024px) {
  .why-us-section {
    background-image: none;
  }
}
@media only screen and (max-width: 540px) {
  .why-us-photo:hover {
    transform: scale(1);
  }
}
